/* LEFT SIDE is an individual component QUICK LINKS */

/* ********************** MIDDLE (users posts) ************************ */
.users-post-section-wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.create-a-post-section{
    display: flex;
    align-items: start;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.logged-in-user-img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: start;
}

.create-a-post-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 8px;
}

.create-a-post-input{
    background-color: transparent;
    border: 0;
    padding: 5px 10px;
    resize: none;
    outline: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    flex: 1;
}

.create-a-post-footer-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.create-a-post-footer-wrapper i{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

.add-new-post-button, .discard-modal-button{
    --primary-color: #3aa856;
    --secondary-color: #fff;
    --hover-color: #111;
    box-sizing: border-box;
    border: 0;
    border-radius: 5px;
    color: var(--secondary-color);
    padding: 5px 15px;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}  

.discard-modal-button{
  background: #111;
}
  .add-new-post-button:hover {
    background-color: var(--hover-color);
  }

  .filters-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
  }

  .filters-wrapper p{
    margin: 0;
    font-size: 16px;
    font-family:'Poppins', sans-serif;
    cursor: pointer;
  }

  /* Posts */
  .posts-wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .posts{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
    width: 100%;
  }

  .post-user-img img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }

  .post-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
    width: 100%;
  }

  .post-user-created-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .post-user-date{
    margin: 0;
    font-size: 16px;
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #111;
  }

  .post-user-date span{
    color: #666666;
    font-size: 16px;
    font-family:'Poppins', sans-serif;
    font-weight: 400;
  }

  .post-edit-or-delete-options{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .post-user-username{
    margin: -8px 0px 10px 0px;
    font-size: 14px;
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #373737;
  }

  .post-user-content{
    margin: 0;
    font-size: 15px;
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
    word-break: break-word;
  }

  .post-link{
    color: #111;
    text-decoration: none;
    list-style: none;
  }

  .post-call-to-action-buttons{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    width: 100%;
  }

  .post-call-to-action-buttons i{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .MuiBackdrop-root.MuiBackdrop-invisible.MuiModal-backdrop.css-g3hgs1-MuiBackdrop-root-MuiModal-backdrop{
    opacity: 0.1 !important;
    background-color: #000;
  }

  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-3bmhjh-MuiPaper-root-MuiPopover-paper{
    position: absolute;
    top: 320px !important;
    left: 668px !important;
  }

  .popover-p{
    margin: 0;
    font-size: 16px;
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
  }

  .popover-p:nth-child(1){
    margin-bottom: 8px;
  }

  .post-likes-count{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .post-likes-count p{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin: 0;
  }

  /* ------- */
  .three-dots.home-page .css-78trlr-MuiButtonBase-root-MuiIconButton-root,.three-dots.home-page .css-1yxmbwk{
    margin: 0px -15px 0px 0px !important;
    padding: 0 !important;
  }

  .three-dots.home-page .css-78trlr-MuiButtonBase-root-MuiIconButton-root,.three-dots.home-page .css-1yxmbwk{
    background-color: transparent !important;
  }

  .delete-post-button{
    font-size: 14px;
    font-weight: 600;
    background-color: transparent;
    border: 0;
    width: 100%;
    text-align: center;
    letter-spacing: .5px;
    padding: 5px 0px;
  }

  .edit-post-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100%;
  }

/* ********************** RIGHT SIDE (suggested users) ************************ */
/* ---------- Search Box ---------- */
.search-bar{
    position: relative;
}

.search-box{
    padding: 5px 50px 5px 10px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    border: .5px solid #bababa;
    border-radius: 5px;
    width: 100%;
    text-overflow: ellipsis;
}

.search-box:focus-visible{
    outline: 0.1px solid #bababa;
}

.search-box::placeholder{
    color: #ccc;
}

.search-bar i{
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 20px;
}

/* ---------- Suggested Users ---------------- */
.suggested-users-wrapper{
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.suggested-users{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.suggested-users .title{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #bababa;
    padding-bottom: 5px;
    width: 100%;
}

.individual-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.individual-user p{
    margin: 0;
}

.individual-user .name{
    font-weight: 500;
    font-size: 16px;
}

.individual-user .username{
    font-weight: 400;
    font-size: 14px;
}

.suggested-users-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* ---------------------------------------------- */
.follow-button {
    --primary-color: #3aa856;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 8px;
    color: var(--secondary-color);
    padding: 7px 15px;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  }
  
  .follow-button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .follow-button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  .follow-button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  .follow-button:hover {
    background-color: var(--hover-color);
  }
  
  .follow-button:hover .arrow {
    background: var(--secondary-color);
  }
  
  .follow-button:hover .arrow:before {
    right: 0;
  }