.search-bar{
    position: relative;
}

.search-box{
    padding: 5px 10px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border: .5px solid #bababa;
    border-radius: 5px;
    width: 100%;
}

.search-box:focus-visible{
    outline: 0.1px solid #bababa;
}

.search-box::placeholder{
    color: #ccc;
}

.search-bar i{
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 18px;
    cursor: pointer;
}