/* ------------- */
@media (min-width: 320px) and (max-width: 374px){
    .form{
        width: 96%;
        padding: 25px 15px;
    }
}

@media (min-width: 375px) and (max-width: 425px){
    .form{
        width: 90%;
        padding: 25px 30px;
    }
}

@media (min-width: 426px) and (max-width: 1024px){
    .form{
        width: 60%;
        padding: 25px 30px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .suggested-users-img {
        width: 40px;
        height: 40px;
    }
    .individual-user .name {
        font-size: 14px;
    }
    .individual-user .username {
        font-size: 13px;
    }
    .follow-button {
        padding: 5px 7px;
        font-size: 14px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .quick-link{
        display: none;
        width: max-content;
    }

    .links-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .suggested-users-img {
        width: 40px;
        height: 40px;
    }
    .individual-user .name {
        font-size: 15px;
    }
    .individual-user .username, .post-user-username {
        font-size: 13px;
    }
    .follow-button, .add-new-post-button, .discard-modal-button {
        padding: 5px 10px;
        font-size: 13px;
    }
    .search-box, .post-likes-count p{
        font-size: 16px;
    }
    .logged-in-user-img, .post-user-img img{
        height: 50px;
        width: 50px;
    }
    .create-a-post-input, .filters-wrapper p, .post-user-date, .post-user-date span{
        font-size: 15px;
    }
    .create-a-post-footer-wrapper i{
        font-size: 22px;   
    }
    .post-user-content{
        font-size: 14px;
    }
    .post-call-to-action-buttons i{
        font-size: 18px;
    }
}


/* FOR MOBILE SCREEN ONLY */
@media (max-width: 575px){

    /* CSS for top navbar */
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        background-color: #fff;
        border-bottom: 1px solid hsla(0,0%,78%,.75);
    }

    .logo{
        font-size: 22px;
    }

    .navbar .profile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        gap: 10px;
    }

    /* CSS For left side Quick Links */
    .col-md-3.quick-links-container {
        position: fixed;
        bottom: 0px;
        z-index: 2;
        padding: 0;
    }

    .default-section-block.quick-links {
        padding: 8px 15px;
        border-radius: 0;
    }

    .links-wrapper {
        margin: 0;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
    }

    .quick-links .link {
        font-size: 14px;
        gap: 10px;
    }

    .quick-links .link span i {
        font-size: 20px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* CSS for center part Posts section */
    .default-page-margin{
        padding: 25px 0px 75px 0px;
    }

    .default-section-block{
        padding: 10px 20px 10px 10px;
    }

    .default-section-block.filters-wrapper{
        padding: 10px 20px;
    }

    .create-a-post-section{
        gap: 5px;
        justify-content: space-evenly;
    }

    .create-a-post-input{
        font-size: 15px;
        width: 100%;
    }
    
    .filters-wrapper p{
        font-size: 14px;
    }

    .post-user-img img{
        height: 50px;
        width: 50px;
        object-fit: cover;
        aspect-ratio: 1/1;
    }

    .logged-in-user-img{
        height: 50px;
        width: 50px;
        object-fit: cover;
    }

    .post-user-date{
        font-size: 14px;
    }

    .post-user-date span{
        font-size: 13px;
    }

    .post-user-username{
        font-size: 13px;
    }

    .post-user-content{
        font-size: 14px;
        margin-bottom: 10px;
    }

    .post-call-to-action-buttons i{
        font-size: 18px;
    }

    /* CSS For right side Suggested users section */
    .col-lg-4.col-md-5.suggested-users-section {
        display: none;
    }
}

