.logged-in-user-details{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
}

.user-profile-details{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
}

.logged-in-user-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.logged-in-user-name p{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #212529;
}
.logged-in-user-name.dark p{
    color: #C9C9C9;
}

.user-action-buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logout-icon{
    font-size: 22px;
    cursor: pointer;
}

.user-profile-details .username{
    margin: -5px 0px 10px 0px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #222222;
}
.user-profile-details .username.dark{
    color: #CFCFCF;
}


.user-bio{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: #222222;
}
.user-bio.dark{
    color: #CFCFCF;
}

.website{
    margin: 0px 0px 10px 0px;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    text-decoration: none;
    color: rgb(70, 119, 223);
}

.website:hover{
    text-decoration: underline;
}

.logged-in-user-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0px;
}

.logged-in-user-info p{
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    color: #212529;
}
.logged-in-user-info.dark p{
    color: #C9C9C9;
}

.img-wrapper{
    position: relative;
}
.camera-icon{
    position: absolute;
    font-size: 20px;
    right: 5px;
    cursor: pointer;
}

.avatar-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.avatar-image{
    height: 80px;
    width: 80px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}